.DS_Store

# terraform
**/.terraform
**/terraform.tfvars
**/terraform.tfvars.json
**/config.*.tfbackend
**/tfplan
**/terraform.tfstate
**/terraform.tfstate.*
**/override.tf
**/*_override.tf

# nuon
nuoncli
